@charset "UTF-8";

body {
    background-color: #fff4e6;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

h2 {
    color: #333;
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
    color: #FF6347;
}

form {
    background-color: #fff;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
    border: 2px solid #FF6347;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #FF6347;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 93%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #FF6347;
    border-radius: 10px;
    background-color: #ffece6;
    font-size: 16px;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #FF4500;
    outline: none;
    box-shadow: 0 0 8px rgba(255, 99, 71, 0.2);
}

button {
    width: 100%;
    padding: 12px;
    background-color: #FF6347;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #FF4500;
}

p {
    margin-top: 0;
    color: #28a745;
    text-align: center;
    font-size: 14px;
}

#character {
    width: 100px;
    margin-bottom: 20px;
}
